/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
}


/* Set background color and overflow behavior for html and body */
html,
body {
    overflow: hidden; /* Hide overflow content */
    background-color:white; /* Set background color to black */
    
    
}

/* Styling for the main content area */
main {
    position: fixed; /* Fix the position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll; /* Allow scrolling if content exceeds viewport height */
    background-color: white; /* Set background color to white */
}

/* Styling for the container */
.container {
    position: relative; /* Set relative position */
    width: 100%;
    display: flex; /* Use flexbox for layout */
    gap: 10px; /* Set gap between flex items */
    background: white; /* Set background color to white */
    
}

/* Styling for columns */
.column {
    flex: 1; /* Distribute available space equally among columns */
    display: flex; /* Use flexbox for column layout */
    flex-direction: column; /* Stack items vertically */
    gap: 5px; /* Set gap between column items */
}

/* Styling for overlay */
.overlay {
    opacity: 0;
    position: absolute; /* Set absolute position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Set background color */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.3s;  /* Smooth transition for hover effect*/
    z-index: 1000;
}

/* Styling for overlay on hover */
.post:hover .overlay {
    opacity: 1; /* Set opacity to 0.5 on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Styling for posts */
.post {
    position: relative; /* Set relative position */
    overflow: hidden;
    width: 100%;
}

/* Styling for images */
img {
    width: 100%;
    filter: grayscale; /* Apply grayscale filter to images */
}


.modal {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.859);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20; /* Ensure the modal is on top of everything else */
}

.modal img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.modal h3 {
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.modal h4 {
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 10px;
}

.header-text-sidebar h2:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}

@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;  /* Adjust this value to match the sidebar width */
        margin-top: 25px;
        height: 100%;
        padding: 10px;
        
    }

    .topbar {
        /* ... other styles ... */
        display: flex;
        flex-direction: column; /* This ensures the content stacks vertically */
        align-items: start; /* Aligns the content to the start (left side for LTR languages) */
        justify-content: flex-start; /* Aligns the content to the start (top side) */
        position: flex; /* Fix the position */
        width: 100%;
        height: auto;
        background-color: white; /* Set background color to dark gray */
        padding: 10px; /* Add padding */
        z-index: 40; /* Set z-index to ensure it's above other elements */
        pointer-events: auto;
    }
    


    .header-text-topbar {
        
        position: fixed; /* Fix the position */
        top: 0;
        align-items: center;
        padding-top: 5px; /* Add padding using viewport width unit */
        padding-left: 5px;
        z-index: 10; /* Set z-index to ensure it's above other elements */
        mix-blend-mode: difference; /* Apply blend mode */
    }

    /* Styling for the project list */
    .project-list-topbar {
        display: flex;
        margin-top: 25px;
        list-style: none; /* Remove bullet points */
        padding: 0;
        gap: 10px;
        flex-wrap: wrap;
    }

    .project-item-topbar {
        display:inline;
        cursor: pointer;
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        z-index: 30;
        list-style: none; /* Remove bullet points */
        max-width: calc(100% / 3); /* For example, a maximum of one-third of the container width */
       
    }

    .project-item-topbar:hover {
        text-decoration: line-through;
    }
    
}

@media screen and (min-width: 801px) {
    .topbar {
        display: none;
    }
    .content {
        margin-left: 200px;  /* Adjust this value to match the sidebar width */
        height: 100%;
        padding: 20px;
        
    }
    
    .sidebar {
        position: fixed; /* Fix the position */
        width: 200px;
        height: 50%;
        background-color: white; /* Set background color to dark gray */
        /*overflow: auto;  Enable scrolling if content exceeds sidebar height */
        padding: 20px; /* Add padding */
        z-index: 30; /* Set z-index to ensure it's above other elements */
        pointer-events: auto;
    }
        /* Styling for the header */
    .header-text-sidebar {
        position: fixed; /* Fix the position */
        top: 0;
        width: 100%;
        align-items: center;
        padding: 2vw; /* Add padding using viewport width unit */
        z-index: 10; /* Set z-index to ensure it's above other elements */
        mix-blend-mode: difference; /* Apply blend mode */
    }

    /* Styling for the project list */
    .project-list-sidebar {
        margin-top: 100px;
        list-style: none; /* Remove bullet points */
        padding: 0;
    }

    .project-item-sidebar {
        margin-bottom: 10px;
        cursor: pointer;
        color: black;
        margin-top: 15px;
        margin-left: 2vw;
        z-index: 30;
        list-style: none; /* Remove bullet points */
    }

    .project-space-sidebar {
        margin-bottom: 10px;
        cursor: pointer;
        color: white;
        margin-top: 10px;
        margin-left: 50px;
        z-index: 30;
    }
    .project-item-sidebar:hover {
        text-decoration: line-through;
    }
}

